[Desktop Entry]
Version=1.0
Type=Application
Categories=Utility;
Name=MVS
Path=/opt/MVS/bin
Exec=/opt/MVS/bin/MVS.sh
Icon=/opt/MVS/MVS.png
Terminal=false
